*{
    scrollbar-width: thin;
    scrollbar-color: #8750f7 #2a1454;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}
body{
    font-family:Sora-Medium;
    color: white;
    background-color: #0f0715;
}
img{
    width: 100%;
    display: block;
}
.m-80{
    margin-top: 180px;
}