/* heading in website */
.heading{
    font-size: 65px;
    background: linear-gradient(to right, #8750f7 0%, #ffffff 100%);;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:Sora-Bold;
}
/* parag in website */
.brief{
    font-size: 22px;
    font-family:Sora-Light;
}

/* heading in sec2 and sec3 */
.myworkText h2{
    font-size: 45px; 
 }
/* parag in sec2 and sec3 */
 .myworkText .we{
     width: 56%;
     font-size: 18px;
 }