@media screen and (max-width:600px) {
    .myworkText h2{
        font-size: 30px; 
     }
     .myworkText .we{
         width: 100%;
         font-size: 15px;
     }
     .mywork .app .router .bttn{
        padding: 9px 15px;
        font-size: 10px;
        border-radius: 50px;
    }
    .mywork .cards .cardimg img{
        padding: 10px;
        margin-bottom: 20px;
    }
    .mywork .cards .cardimg .projectDesc p{
       font-size: 12px;
    }
}