@media screen and (max-width:600px) {
    footer .lastSec .lastimg{
        width: 500px;
        margin: auto;
    }
    footer .lastSec{
        width: 70%;
    }
    footer .lastText .links{
        margin-left: 20px;
    }
    footer .copy p{
      font-size: 15px;  
    }
}