footer{
    background-color: #050709;
    padding: 50px 0;
}
footer .lastSec{
    width: 17%;
    margin: auto;
    padding-top: 20px;
}
footer .lastSec .lastimg{
    max-width: 200px;
}
footer .lastText .links a{
    color: white;
}
footer .copy p{
    color: #8750f7;
}
footer .copy p a{
    color: #8750f7;
    font-family:Sora-Bold;
}