.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.landing{
    position: relative;
    height: 105vh;
    background-color: #0f0715;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .landing2{
    margin-top: 90px;
}
.landing::after{
    content: "";
    width: 322px;
    height: 312px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
    border-radius: 50%;
    filter: blur(150px);
}
.landing .hi{
    position: absolute;
    top: 25%;
    left: 38%;
    font-size: 280px;
    transform: translate(-50% , -50%);
    font-family:RussoOne-Regular;
    background: linear-gradient(260deg, #8850f713 100%, rgba(115, 67, 210, 0) 0%);
    background-clip: text;
    -webkit-text-fill-color:transparent;
    animation-name: test;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: .7;
    cursor: default;
}
@keyframes test {
    0%{
        transform: scale(1);
    }
    50%{
       transform: scale(1.2); 
    }
    100%{
      transform: scale(1);  
    }
}
.landing .landingText .who{
    font-size: 36px;
    font-family:Sora-Bold;
}
.landing .landingImg img{
    transform: rotate(5deg);
    border-radius: 30px;
    border: 1px solid #8750f7;
    transition: all .5s;
}
.landing .landingImg img:hover{
    transform: rotate(0deg);
}
.landing .landingText .download{
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #8750f7;
    color: #8750f7;
    font-family:Sora-Regular;
    transition: all .5s;
}
.landing .landingText .download:hover{
    background-color: #8750f7;
    color: #ffffff;
}
.landing .landingText .link{
    font-size: 18px;
    padding: 7px 11px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #8750f7;
    color: #8750f7;
    transition: all .5s;
}
.landing .landingText .link:hover{
    background-color: #8750f7;
    color: #ffffff;
}