@media screen and (max-width:1024px) {
    .header{
        position: static;
        z-index: 100;
    }
    .landing{
        height: 90vh;
    }
}
@media screen and (max-width:768px) {
    .landing .hi{
        top: 8%;
        left: 28%;
    }
    .header{
        position: static;
        z-index: 100;
    }

    .navbar-toggler {
        background-color: #8850f786;
        padding: 7px 13px;
    }
    .landing{
        height: 70vh;
    }
    .landing .landingText .who{
        font-size: 25px;
    }
    .heading{
        font-size: 50px;
    }
    .brief{
        font-size: 15px;
    }
    .landing .landingText .download{
        font-size: 15px;
        margin-bottom: 10px;
        padding: 13px 20px;

    }
    .landing .landingText .link{
        margin-left: 0px;
    }

}
@media screen and (max-width:600px) {
    .header{
        position: static;
        z-index: 100;
    }
    .navbar-toggler {
        background-color: #8850f786;
        padding: 7px 13px;
    }
    .hi{
        display: none;
    }
    .landing .landingText .who{
        font-size: 20px;
    }
    .heading{
        font-size: 25px;
    }
    .brief{
        font-size: 15px;
    }
    .landing .landing2 .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .landing .landingImg img{
        margin-bottom: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .landing{
        height: 75vh;
    }
    .landing .landingText .download{
        font-size: 15px;
        width: 100%;
        margin-bottom: 30px;
    }
    .landing .landingText .link{
        margin-left: 20px;
    }
    header .navbar-brand img{
        max-width: 140px;
    }
    .headerFixed{
        padding: 6px 0px !important;
    }
}